body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 24px;
    background-color: #252617;
    border-bottom: 6px solid #64732F;
    color: #CAD959;
}
header .author {
    font-size: 1.25rem;
    font-weight: 100;
}

main {
    margin: 48px 24px;
}

.principles-grid {
    display: grid;
    margin: 0 auto;
    max-width: 1500px;
}
@media (min-width: 1000px) {
    .principles-grid {
        justify-content: center;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 999px) {
    .principles-grid .principle:not(:last-child) {
        margin: 0 0 24px 0;
    }
}
@media (min-width: 1500px) {
    .principles-grid {
        grid-column-gap: 96px;
    }
}
@media (min-width: 1250px) {
    .principles-grid {
        grid-column-gap: 48px;
    }
}
@media (min-width: 1000px) {
    .principles-grid {
        grid-column-gap: 24px;
    }
}
.principles-grid h2 {
    margin: 0; padding: 8px 0;
    text-align: center;
}
.principles-grid .wrapper {
    padding: 12px 24px;
}
.principles-grid .principle:nth-child(1) h2 {
    background-color: #D91818;
    color: #F2E205;
}
.principles-grid .principle:nth-child(2) h2 {
    background-color: #0D0D0D;
    color: #e6e6e6;
}
.principles-grid .principle:nth-child(3) h2 {
    background-color: #401201;
    color: #F2B705;
}
.principles-grid .principle:nth-child(1) .wrapper {
    background-color: #590202;
    color: #F2B705;
}
.principles-grid .principle:nth-child(2) .wrapper {
    background-color: #8C8C8C;
}
.principles-grid .principle:nth-child(3) .wrapper {
    background-color: #F23207;
    color: #fff;
}
.principles-grid h3 {
    margin: 0 0 16px 0;
    font-weight: 900;
}
.principles-grid .link {
    margin: 0 0 16px 0;
}
.principles-grid .link a {
    color: inherit;
}
.principles-grid .description {
    margin: 0 0 32px 0;
}
.principles-grid .image {
    text-align: center;
}
.principles-grid .image img {
    max-width: 100%;
}

footer {
    padding: 24px;
    text-align: center;
    background-color: #34401A;
    color: #CAD959;
}